<%= form_with(model: paquetes_plan_to_fecha, local: true) do |form| %>
  <% if paquetes_plan_to_fecha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paquetes_plan_to_fecha.errors.count, "error") %> prohibited this paquetes_plan_to_fecha from being saved:</h2>

      <ul>
      <% paquetes_plan_to_fecha.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :'Paquetes' %>
    <%= form.collection_select(:idpaquete, PaquetePlan.all, :id, :nombre) %>
  </div>

  <div class="field">
    <%= form.label :Responsable %>
    <%= form.text_field :responsable %>
  </div>

  <div class="field">
    <%= form.label :'Fecha Planeada Iniciar  '%>
    <%= form.date_select :fecha_plan_i %>
  </div>

  <div class="field">
    <%= form.label :'Fecha Planeada Finalizar'%>
    <%= form.date_select :fecha_plan_f %>
  </div>

  <div class="field">
    <%= form.label :'Fecha Asignada' %>
    <%= form.date_select :fecha_inicio %>
  </div>

  <div class="field">
    <%= form.label :'Fecha Entregada' %>
    <%= form.date_select :fecha_fin %>
  </div>

  <div class="field">
    <%= form.label :'Dias duracion (hr)'%>
    <%= form.number_field :dias %>
  </div>

  <div class="field">
    <%= form.label :Comentarios %>
    <%= form.text_area :comentarios %>
  </div>

  <div class="field">
    <%= form.label :Estado %>
    <%= form.collection_select(:estado, EstadoPlan.all, :id, :descripcion) %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
