<p id="notice"><%= notice %></p>

<h1>Asignar fecha a los paquetes</h1>
<br></br>
<table>
  <thead>
    <tr>
      <th>Idpaquete</th>
      <th>Responsable</th>
      <th>Fecha plan inicial</th>
      <th>Fecha plan Final</th>
      <th>Fecha Inicio</th>
      <th>Fecha fin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paquetes_plan_to_fechas.each do |paquetes_plan_to_fecha| %>
      <tr>
        <% @Resultado = PaquetePlan.where(id:paquetes_plan_to_fecha.idpaquete)
        @Resultado.each do |row| %>
            <td><%= row.nombre %></td>
        <%end %>
        <td><%= paquetes_plan_to_fecha.responsable %></td>
        <td><%= paquetes_plan_to_fecha.fecha_plan_i %></td>
        <td><%= paquetes_plan_to_fecha.fecha_plan_f %></td>
        <td><%= paquetes_plan_to_fecha.fecha_inicio %></td>
        <td><%= paquetes_plan_to_fecha.fecha_fin %></td>
        <td><%= link_to 'Mostrar', paquetes_plan_to_fecha %></td>
        <td><%= link_to 'Editar', edit_paquetes_plan_to_fecha_path(paquetes_plan_to_fecha) %></td>
        <td><%= link_to 'Eliminar', paquetes_plan_to_fecha, method: :delete, data: { confirm: 'Estas seguro que deseas Eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo', new_paquetes_plan_to_fecha_path %>
