<%= form_with(model: estado_plan, local: true) do |form| %>
  <% if estado_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estado_plan.errors.count, "error") %> prohibited this estado_plan from being saved:</h2>

      <ul>
      <% estado_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion %>
  </div>

  <div class="field">
    <%= form.label :idestado %>
    <%= form.collection_select(:idestado, Estado.all, :id, :descripcion) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
