<p id="notice"><%= notice %></p>

<p>
  <strong>Idpaquete:</strong>
  <%= @paquete_plan_to_procedimiento.idpaquete %>
</p>

<p>
  <strong>Idprocedimiento:</strong>
  <%= @paquete_plan_to_procedimiento.idprocedimiento %>
</p>

<%= link_to 'Editar', edit_paquete_plan_to_procedimiento_path(@paquete_plan_to_procedimiento) %> |
<%= link_to 'Atras', paquete_plan_to_procedimientos_path %>
